body {
	font-family: 'Merriweather', serif;
}

h1,h2,h3,h4,h5,h6,a,p {
	font-family: 'Merriweather', serif;
}

p, a {
	font-size: 18px;
	line-height: 2;
}

.row {
	margin: 20px auto;
}

.paginator li {
	display: inline-block;
	margin-right: 20px;
}

.active {
	color: blue!important;
}

header {
	background: #222;
	margin-top: -20px;
	height: 70px;
}

header h1 {
	color: white;
}

a {
	color: rgb(191, 76, 201);
	transition: all 0.5s;
}

a:hover {
	color: rgb(236, 176, 241);
	transition: all 0.5s;
}